<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lesson 2 Exercises - Css Basics</title>
</head>
<body>
  
  <main>
    <button type="button" class="btn RequestBox">Request now</button> <!--Uber-->
    <button type="button" class="btn">Add to Cart</button> <!--Amazon-->
    <button type="button" class="btn">Sign up</button> <!--GitHub-->

    <!--Bootstrap-->
    <button type="button" class="btn">Get started</button>
    <button type="button" class="btn">Download</button>

    <!--LinkedIn-->
    <button type="button" class="btn">Apply on company website</button>
    <button type="button" class="btn">Save</button>
  </main>
</body>
</html>