@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}


.grid-container {
  font-family: "Roboto", ;
}


.card-container {
  border: 1px solid;
  display: inline-block;
}

/* .card-container-image {

} */

.card-image {
  width: 300px; /* *fix width 300px, changeable because we use grid*/
}

.card-info, .card-container-button {
  padding: 10px;
}

.card-text {
  margin: 5px 0px;
}

