@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}


.grid-container {
  font-family: "Roboto", serif; 
  padding: 10px; /*! Temporary */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}


.card-container {
  display: inline-block;
  box-shadow: 1px 1px 2px #747474;
  border-radius: 10px;
}

/* .card-container-image {

} */

.card-image {
  width: 500px; /* *fix width 300px, changeable because we use grid*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: contain;
  object-position: center;
}

.card-info, .card-container-button {
  padding: 10px;
  font-weight: 400;
}

.card-text {
  margin: 5px 0px;
  font-size: 1rem ;
}

.card-author {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.addfriend {
  background-color: rgb(66, 147, 238) ;
  color: #ffff;
  transition: opacity 0.15s;
}


/* ?Transition */

.addfriend:hover {
  opacity: 0.8;
}

.addfriend:active {
  opacity: 0.6;
}
