

* {
  margin: 0;
  padding: 0;
}


/* .grid-container {

} */


.card-container {
  border: 1px solid;
  display: inline-block;
}

.card-container-image {

}

.card-image {
  width: 300px; /* *fix width 300px, changeable because we use grid*/
}

.card-info, card-container-button {
  padding: 10px;
}

