

.card-container {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #646464;
}

.card-image {
  width: 100%;
}

img {
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

img:hover {
  cursor: pointer;
  opacity: 0.8;
}


.card-content {
  padding: 15px;
  font-family: Arial, sans-serif;
}

.card-text {
  margin: 0px;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn {
  display: block;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  margin: 5px 0px;
  padding: 10px;
  width: 100%;
}

.add-btn {
  background-color: rgba(8, 102, 255, 60%);
  color: rgb(255, 255, 255);
}

.add-btn:hover {
  opacity: 0.8;
}