

.card {
  box-shadow: 1px 1px 2px rgba(160, 160, 160, 0.5);
  padding: 20px;
  width: 300px;
}

.card-Link {
  color: rgb(0, 113, 133);
  text-decoration: none;
}

.card-Title {
  font-weight: 600;
  font-size: 1.2rem;
}

.card-Text {
  font-size: 0.9rem;
  font-weight: 600;
}

.card-Stock {
  color: rgb(0, 118, 0);
}

.btn {
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
  transition: padding-right 0.15s;
}

.btn:hover{
  padding-right: 30px;
}

.btn-add {
  background-color: rgb(255, 216, 20);
  transition: opacity 0.15;
  box-shadow: 1px 2px 3px rgba(160, 160, 160, 0.5);
}

.btn-add:hover {
  /* background-color: rgb(255, 216, 20, 50%); */
  opacity: 0.5;
}

.btn-add:active {
  opacity: 0.5;
}


.btn-buy {
  /* background-color: rgb(255, 164, 28); */
  background-color: inherit;
  /* border: 0.6px solid #383838; */
  box-shadow: 1px 1px 2px rgba(160, 160, 160, 0.5);
  transition: background-color 0.15s,
    color 1s,  ;
}

.btn-buy:hover{
  background-color: rgb(255, 164, 28);
  color: #fff;
  border: none;
}

.btn-buy:active {
  opacity: 0.6; 
  transition: opacity 1s;
}


.card-Link:hover {
  transition: opacity 0.15s;
  opacity: 0.5;
}