

.card {
  border: 1px solid;
  
}

.card-Link {
  color: rgb(0, 113, 133);
}

.card-Title {
  font-weight: 600;
  font-size: 1.2rem;
}

.card-Text {
  font-size: 0.9rem;
  font-weight: 600;
}

.card-Stock {
  color: rgb(0, 118, 0);
}

.btn {
  color: #000;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 15px;
}

.btn-add {
  background-color: rgb(255, 216, 20);
}

.btn-buy {
  background-color: rgb(255, 164, 28);
}
