

.card {
  border: 1px solid;
  
}

.card-Link {
  color: rgb(0, 113, 133);
}

.card-Title {
  font-weight: 600;
  font-size: 1.2rem;
}

.card-Text {
  font-size: 0.9rem;
  font-weight: 600;
}

.card-Stock {
  color: rgb(0, 118, 0);
}