
.SubsBox {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 20px;
  width: 100px;
  height: 30px;
  background-color:#ff0033;
  color: #fff;
}

.AddBox {
  border: none;
  width: 130px;
  height: 40px;
  background-color: #3b6fff;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}