
.SubsBox {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 20px;
  width: 100px;
  height: 30px;
  background-color:#ff0033;
  color: #fff;
}

.AddBox {
  border: none;
  width: 150;
  height: 40px;
  background-color: #3b6fff;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.AddBox span {
  padding-right: 5px;
}

.EditBox {
  border: 1px solid;
  border-radius: 20px;
  padding: 5px 15px;
  background-color: #252525;
  color: #fff;
}