
* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 300px;
  column-gap: 10px;
  row-gap: 10px;
}

.grid-item {

}

.grid-1 {
  background-color: lightblue;
}

.grid-2 {
  background-color: lightgreen;
}