

nav {
  display: flex;
  

}

.facebook-logo {
  width: 40px;
}

.icon {
  width: 30px;
}

.image-author {
  width: 40px;
  border-radius: 50px;
}

.left-section, .middle-section, .right-section {
  display: flex;
  align-items: center;
  gap: 10px;

  border: 1px solid;
}


.left-section {
  width: 500px;
}

.middle-section {
  width: 100%;
  flex: 1;
  justify-content: space-evenly;
}

.right-section {
  width: 100%;
  max-width: 500px;
  justify-content: end;
}