

nav {
  display: flex;
  justify-content: space-between;

}

.facebook-logo {
  width: 50px;
}

.icon {
  width: 30px;
}

.image-author {
  width: 50px;
  border-radius: 50px;
}

.left-section, .middle-section, .right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}


.left-section {
  flex: 1;
}