

.sign-up-form {
  /* border: 1px solid red; */
  display: inline-block;
  padding: 10px;
}

input {
  font-size: 1;
  padding: 10px;
  width: 120px;
  border-radius: 5px;
  border: 1px solid #838383;
  font-size: 0.8rem;
}

.email-input {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: 265px;
}

.sign-up-btn {
  border: none;
  background-color: rgb(57, 117, 233);
  color: #fff;
  text-align: center;
  width: 285px;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial;
  font-weight: 600 ;
  font-size: 0.8rem ;
  transition: opaxcity 0.3s;
}

/* ! animation */

input:focus {
  border: 1px solid rgb(21, 82, 248);
  outline: none;
}

.sign-up-btn:hover {
  opacity: 0.8;
}

.sign-up-btn:active {
  opacity: 0.6;
}