

input {
  font-size: 1;
  padding: 5px;
  width: 120px;
  border-radius: 5px;
  border: 1px solid #535353;
  font-size: 0.8rem;
}

.email-input {
  margin-top: 5px;
  display: block;
  width: 257px;
}