

.thumbnail {
  border: 1px solid #5c5c5c;
  width: 300px;
  height: 300px;
  object-fit:contain;
  object-position: center ;
}

.search-bar {
  font-size: 1rem;
  padding: 20px;
}



.thumbnail2, .thumbnail-container {
  width: 300px;
  border-radius: 20px;
  transition: width 0.5s, border-radius 0.5s, opacity 0.5s;
}


.thumbnail2, .thumbnail-container:hover {
  width: 500px;
  border-radius: 50px;
}

.thumbnail2,.thumbnail-container:active {
  opacity: 0.5;
}
