@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}


.card-container {
  /* border: 1px solid ; */
  display: inline-block;
  /* width: 500px; */
  padding: 10px;
  box-shadow: 1px 1px 2px #646464;
  border-radius: 10px;
  font-family: Roboto, serif;
}

.card-image {
  display: inline-block;
}

img {
  width: 80px;
  border-radius: 50px;
}

.card-content {
  display: inline-block;
  vertical-align: top;
}

.card-button {
  display: inline-block;
  vertical-align: top;
}

.card-text {
  margin: 5px;
  color: #505050;
  width: 200px;
}

.card-author {
  font-weight: 600;
  color: #000000;
}