

.card-container {
  border: 1px solid ;
  display: inline-block;
  width: 500px;
}

.card-image {
  display: inline-block;
}

img {
  width: 100px;
}

.card-content {
  display: inline-block;
}

.card-button {
  display: ;
}