@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}


.card-container {
  /* border: 1px solid ; */
  display: inline-block;
  /* width: 500px; */
  padding: 10px;
  box-shadow: 1px 1px 2px #646464;
  border-radius: 10px;
  font-family: Roboto, serif;
}

.card-image {
  display: inline-block;
}

img {
  width: 80px;
  border-radius: 50px;
}

.card-content {
  display: inline-block;
  vertical-align: top;
}

.card-button {
  display: inline-block;
  vertical-align: top;
  /* border: 1px solid; */
}

.card-text {
  margin: 5px;
  color: #505050;
  width: 300px;
  font-size: 0.8rem;
}

.card-author {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
}

button {
  padding: 7px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  background-color: #4293ee;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 20px;
  transition: opacity 0.15s;
}


/* !Transitions */


button:hover {
  opacity: 0.8;
}

img:hover {
  opacity: ;
}