

.card {
  /* border: 1px solid #646464; */
  box-shadow: 1px 1px 2px #707070;
  width: 500px;
  padding: 10px;
  font-family: Arial;
  border-radius: 10px;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 9px;
  width: 320px;
}

.card-text {
  color: rgb(96, 96, 96);
  font-weight: 500 ;
  font-size: 0.8rem;
}

.card-date {
  margin-top: 5px;
}

.card-owner {
  text-decoration: none;
  transition: color 0.15s, opacity 0.15s,;
  cursor: pointer;
}

.card-owner:hover {
  color: #43b4ff;
}

.card-owner:active {
  opacity: 0.6;
}

.card-description {
  width: 290px;
}