<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/AddCard.css">
  <title>Add Friend</title>
</head>
<body>
  
  <nav>
    <div class="section">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/600px-2023_Facebook_icon.svg.png?20231011122028" alt="facebook-logo">
      <input type="text" placeholder="Search Facebook ">
    </div>

    <div class="section">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
        <path d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 11 21 L 11 15 L 13 15 L 13 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z M 12 4.7910156 L 18 10.191406 L 18 11 L 18 19 L 15 19 L 15 13 L 9 13 L 9 19 L 6 19 L 6 10.191406 L 12 4.7910156 z"></path>
      </svg>
    </div>

    <div class="section">

    </div>
  </nav>


  <div class="grid-container">

    <div class="card-container">
      <div class="card-container-image">
        <img src="../../images/Thumbnail-2.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Niyari</p>
        <p class="card-text">10 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="https://i.pinimg.com/736x/71/ff/cd/71ffcd5a2469f17a2a15ab71d0cff5e6.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Sopheya</p>
        <p class="card-text">25 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="https://i.pinimg.com/736x/30/99/28/309928341870d0e2009009e086e88be8.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Moda</p>
        <p class="card-text">100 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="../../images/Thumbnail-2.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Niyari</p>
        <p class="card-text">10 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="https://i.pinimg.com/736x/71/ff/cd/71ffcd5a2469f17a2a15ab71d0cff5e6.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Sopheya</p>
        <p class="card-text">25 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="https://i.pinimg.com/736x/30/99/28/309928341870d0e2009009e086e88be8.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Moda</p>
        <p class="card-text">100 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

  </div>
</body>
</html>