<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/AddCard.css">
  <link rel="stylesheet" href="../../styles/navbar.css">
  <title>Add Friend</title>
</head>
<body>
  
  <nav>
    <div class="left-section">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/600px-2023_Facebook_icon.svg.png?20231011122028" alt="facebook-logo" class="facebook-logo">
      <input type="text" placeholder="Search Facebook ">
    </div>

    <div class="middle-section">
      <img src="../../images/svg/home-20-svgrepo-com.svg" alt="icon" class="icon">
      <img src="../../images/svg/tv-series-svgrepo-com.svg" alt="icon" class="icon">
      <img src="../../images/svg/profile-circle-svgrepo-com.svg" alt="icon" class="icon">
      <img src="../../images/svg/game-launcher-svgrepo-com.svg" alt="icon" class="icon">
    </div>

    <div class="right-section">
      <img src="../../images/svg/dot-grid-svgrepo-com.svg" alt="icon" class="icon">
      <img src="../../images/svg/messenger-svgrepo-com.svg" alt="icon" class="icon">
      <img src="../../images/svg/bell-alt-svgrepo-com.svg" alt="icon" class="icon">
      <img src="../../images/thumbnmail-3.jpg" alt="image-author" class="image-author">
    </div>
  </nav>


  <div class="grid-container">

    <div class="card-container">
      <div class="card-container-image">
        <img src="../../images/Thumbnail-2.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Niyari</p>
        <p class="card-text">10 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="https://i.pinimg.com/736x/71/ff/cd/71ffcd5a2469f17a2a15ab71d0cff5e6.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Sopheya</p>
        <p class="card-text">25 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="https://i.pinimg.com/736x/30/99/28/309928341870d0e2009009e086e88be8.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Moda</p>
        <p class="card-text">100 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="../../images/Thumbnail-2.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Niyari</p>
        <p class="card-text">10 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="https://i.pinimg.com/736x/71/ff/cd/71ffcd5a2469f17a2a15ab71d0cff5e6.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Sopheya</p>
        <p class="card-text">25 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="https://i.pinimg.com/736x/30/99/28/309928341870d0e2009009e086e88be8.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Moda</p>
        <p class="card-text">100 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

  </div>
</body>
</html>