<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/AddCard.css">
  <title>Add Friend</title>
</head>
<body>
  
  <div class="grid-container">

    <div class="card-container">
      <div class="card-container-image">
        <img src="../../images/Thumbnail-2.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Niyari</p>
        <p class="card-text">10 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="https://i.pinimg.com/736x/71/ff/cd/71ffcd5a2469f17a2a15ab71d0cff5e6.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Sopheya</p>
        <p class="card-text">25 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="https://i.pinimg.com/736x/30/99/28/309928341870d0e2009009e086e88be8.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Moda</p>
        <p class="card-text">100 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="../../images/Thumbnail-2.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Niyari</p>
        <p class="card-text">10 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="https://i.pinimg.com/736x/51/2f/1a/512f1a2840ad0cde3aff84ab63285204.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Sopheya</p>
        <p class="card-text">25 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

    <div class="card-container">
      <div class="card-container-image">
        <img src="https://i.pinimg.com/736x/30/99/28/309928341870d0e2009009e086e88be8.jpg" alt="" class="card-image">
      </div>

      <div class="card-info">
        <p class=" card-text card-author">Moda</p>
        <p class="card-text">100 mutual friends</p>
      </div>

      <div class="card-container-button">
        <button type="button" class="card-button addfriend">Add friend</button>
        <button type="button" class="card-button remove">Remove</button>
      </div>
    </div>

  </div>
</body>
</html>