<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=".css">
  <title>Facebook Card</title>
</head>
<body>
  

  <div class="card-container">
    <div class="card-image">
      <img src="https://i.pinimg.com/736x/ca/d3/e4/cad3e4c330def819f7e6f33f4aa082cd.jpg" alt="Image">
    </div>

    <div class="card-content">
      <p class="">Niyari</p>
      <p>27 mutual friends</p>
      <button type="button">Add friend</button>
      <button type="button">Remove</button>
    </div>
  </div>
</body>
</html>