<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/Addfriend.css">
  <title>Facebook Card</title>
</head>
<body>
  

  <div class="card-container">
    <div class="card-image">
      <img src="https://i.pinimg.com/736x/ca/d3/e4/cad3e4c330def819f7e6f33f4aa082cd.jpg" alt="Image">
    </div>

    <div class="card-content">
      <p class="card-text">Niyari</p>
      <p>27 mutual friends</p>
      <button type="button" class="btn add-btn">Add friend</button>
      <button type="button" class="btn remove-btn">Remove</button>
    </div>
  </div>

  <div class="card-container">
    <div class="card-image">
      <img src="https://i.pinimg.com/736x/fe/4c/ae/fe4caedc7933671f1f8fff0089f56efb.jpg" alt="Image">
    </div>

    <div class="card-content">
      <p class="card-text">Sopheya</p>
      <p>40 mutual friends</p>
      <button type="button" class="btn add-btn">Add friend</button>
      <button type="button" class="btn remove-btn">Remove</button>
    </div>
  </div>

  <div class="card-container">
    <div class="card-image">
      <img src="https://i.pinimg.com/736x/7e/42/15/7e4215c86aca68d9add7a0be96af0133.jpg" alt="Image">
    </div>

    <div class="card-content">
      <p class="card-text">Soul Eater</p>
      <p>200 mutual friends</p>
      <button type="button" class="btn add-btn">Add friend</button>
      <button type="button" class="btn remove-btn">Remove</button>
    </div>
  </div>
</body>
</html>