<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/amazonCard.css">
  <title>Amazon Card </title>
</head>
<body>
  
  <main>
    <div class="card">
      <a href="/index.html" class="card-Link">Back to Amazon</a>
      <br>
      <p class="card-Title">Nike Black Running Shoes</p>
      <p class="card-Text card-Stock">$39 - in stock. </p>
      <p class="card-Text">Free delivery tomorrow.</p>
      <button type="button" class="btn btn-add">Add to Cart</button>
      <button type="button" class="btn btn-buy">Buy now</button>
    </div>
  </main>

  <footer>
    <!-- Pagination -->
    <div class="pagination-box">
      <button type="button" class="pagination-btn btn-prev">Prev</button>
      <a href="" class="pagination-num">1</a>
      <a href="" class="pagination-num">2</a>
      <a href="" class="pagination-num">3</a>
      <a href="" class="pagination-num">4</a>
      <a href="" class="pagination-num">5</a>
      <button type="button" class="pagination-btn btn-next">Next</button>
    </div>
  </footer>
</body>
</html>









