<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/amazonCard.css">
  <title>Amazon Card </title>
</head>
<body>
  
  <main>
    <div class="card">
      <a href="#" class="card-link">Back to Amazon</a>
      <br>
      <p>Nike Black Running Shoes</p>
      <br>
      <p>$39 - in stock. </p>
      <br>
      <p>Free delivery tomorrow.</p>

      <br>
      <button type="button">Add to Cart</button>
      <button type="button">Buy now</button>
    </div>
  </main>
</body>
</html>