<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/SignUpForm.css">
  <title>Sign Up Form</title>
</head>
<body>
  <div class="sign-up-form">
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name">
    <input type="email" name="email" id="email" placeholder="Email" class="email-input">
    <button type="button">Sign Up</button>
  </div>
</body>
</html>