<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/thumbnail.css">
  <title>Youtube Thumbnail</title>
</head>
<body>
  
  <div>
    <!-- <img class="thumbnail" src="/assets/images/talking-tech.webp" alt="This is image">
    <input type="text" placeholder="Search" class="search-bar"> -->
  </div>

  
  <div class="x-container"> <!--x is a social platform-->
    <img src="/assets/images/thumbnmail-3.jpg" alt="Timmy" class="thumbnail3">
    <input type="text" placeholder="What's happening?">
    <button type="button" class="tweet-btn">Tweet</button>
  </div>
  
  <div class="thumbnail-container">
    <img src="/assets/images/Thumbnail-2.jpg" alt="Image" class="thumbnail2">
  </div>
</body>
</html>










