<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/twitter.css">
  <title>Twitter</title>
</head>
<body>
  
  <div class="card-container">
    <div class="card-image">
      <img src="https://i.pinimg.com/736x/db/e6/ad/dbe6ad7dc38d4056480d61af64ed7445.jpg" alt="">
    </div>
    <div class="card-content">
      <p class="card-text card-author">Niyari</p>
      <p class="card-text">Main Female Character</p>
      <p class="card-text">Popular <span>&#9734;</span></p>
    </div>

    <div class="card-button">
      <button type="button">Follow</button>
    </div>
  </div>
</body>
</html>