<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/youtubeCard.css">
  <title>Youtube Card</title>
</head>
<body>
  <nav>

  </nav>

  <main>
    <div class="card">
      <h1 class="card-title">Talking Tech and AI with Google CEO Sundar Pichail!</h1>
      <p class="card-text card-date">3.4 views &#x2022; 6 months ago</p>
      <a class="card-text card-owner" href="#">Marques Brownlee &check;</a>
      <p class="card-text card-description">Talking tech and AI on the heels of Google I/O. Also a daily driver phone reveal from Google's CEO. Shoutout to Sundar! </p>
    </div>

    <div class="card-apple">
      <p>Shop early for the best selection of holiday favourites. <span>Shop now ></span></p>
    </div>
  </main>
</body>
</html>